<div class="main">
    <div class="menu">
        <img src="/assets/menu.png" alt="menu" (click) = enterMenu()>
        <img src="/assets/notification.png" alt="notification">
    </div>
    <app-side-navbar *ngIf = isClicked></app-side-navbar>
    <div *ngIf = !isClicked class="infoDisplay">
        <div class="nameData">
            Your heart rate is
        </div>
        <div class="displayData">
            <div class="value">74</div>
            <div class="measure">BPM</div>
        </div>
    </div>
</div>