.main {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/background.png");
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
}

div.entryDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25vh;
}

form.entryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

div.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

div.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
input {
    width: 80vw;
    height: 7vh;
    padding: 0;
    border-color: #587C85;
    border-width: 3px;
    border-radius: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

input::placeholder {
    text-align: center;
    color: rgb(71, 69, 69);
}

button.continueWithGoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 80vw;
    height: 7vh;
    padding: 0;
    border-color: #587C85;
    border-width: 3px;
    border-radius: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

button.next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 22%;
    width: 56%;
    height: 5%;
    padding: 28px;
    background-color: #587C85;
    border-color: #587C85;
    border-radius: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}